.btnIn {
	margin-top: 15%;
	margin-left: 30%;
	width: 120px;
	height: 120px;
	display: block;
	background-color: #33ff33;
	font-weight: 900;
	font-size: 23px;
}

.btnOut {
	margin-top: -9%;
	margin-left: 60%;
	width: 120px;
	height: 120px;
	display: block;
	background-color: #ff0000;
	font-weight: 900;
	font-size: 25px;
}

.adm {
	margin-top: 20%;
	margin-left: 45%;
	display: block;
	font-weight: 100;
	font-size: 10px;
	display: block;
	width: 120px;
	height: 20px;
	font-size: 15px;
	font-weight: bold;
}

#planta-baixa {
	background-image: url('../img/planta.jpg');
	background-size: auto;
	background-repeat: no-repeat;
}

#btnres01 {
	margin-top: -10px;
	margin-left: 20px;
	display: block;
}

#btnres02 {
	margin-top: -25px;
	margin-left: 350px;
	display: block;
}

#btnres03 {
	margin-top: 35px;
	margin-left: 20px;
	display: block;
}

#btnres04 {
	margin-top: -30px;
	margin-left: 350px;
	display: block;
}

#btnres05 {
	margin-top: 55px;
	margin-left: 20px;
	display: block;
}

#btnres06 {
	margin-top: -27px;
	margin-left: 310px;
	display: block;
}

#btnres07 {
	margin-top: 45px;
	margin-left: 20px;
	display: block;
}

#btnres08 {
	margin-top: -25px;
	margin-left: 310px;
	display: block;
}

#btnres09 {
	margin-top: 55px;
	margin-left: 20px;
	display: block;
}

#btnres10 {
	margin-top: -20px;
	margin-left: 310px;
	display: block;
}

#btnres11 {
	margin-top: 45px;
	margin-left: 20px;
	display: block;
}

#btnres12 {
	margin-top: -20px;
	margin-left: 310px;
	display: block;
}

#btnres13 {
	margin-top: 50px;
	margin-left: 20px;
	display: block;
}

#btnres14 {
	margin-top: 40px;
	margin-left: 20px;
	display: block;
}

.btn-login {
	background-color: #34495e;
}

.btn-cadasto {
	background-color: #27ae60;
}

.nav-cabeca {
	background-color: #91a9ff;
}

.container-fluid {
	box-shadow: 0 1px 12px 0 rgba(50, 50, 50, .5);
}

.navbar-nav>li>a {
	border-left: 1px solid #1f8620;
}

.btn-salvar {
	color: #333;
}

body {
	background-color: #ebebeb;
}

main {
	height: 80ch;
}

.ladodir {
	
}

h1::after, h3::after {
	content: '';
	display: block;
	width: 100px;
	height: 4px;
	margin: 10px auto;
	background: currentColor;
}

h1, h3 {
	text-align: center;
}

.reserva {
	opacity: 0;
	visibility: hidden;
	transform: translate3d(-50px, 0, 0);
	position: absolute;
	top: 0;
}

.reserva.reservada {
	opacity: 1;
	visibility: visible;
	transition: 2s;
	position: relative;
	top: auto;
	transform: translate3d(0px, 0, 0);
}